* { border:0;margin:0;padding:0 }

html,body {
	background: #000;
	height: 100%;
	overflow: hidden;
}

div {
	position: relative;
}

$initial_size: 1px;

.pos-0 {
	border-radius: 0 0 0 100%;
}
.pos-1 {
	border-radius: 0 0 100%;
}
.pos-2 {
	border-radius: 0 100% 0 0;
}
.pos-3 {
	border-radius: 100% 0 0;
}

#box {
	height: $initial_size;
	position: absolute;
		left: 50%;
		top: 50%;
	width: $initial_size;
}